@use 'src/styles/vars';
@use 'sass:color';

.boardgames {
    max-width: 80%;
    margin: auto;
    text-align: center;
    background-color: whitesmoke;
    padding: vars.$gutter;

    &-title {
      color: black;
      font-family: vars.$title-font;
      font-size: 3rem;
    }

    &-categories {
      padding: vars.$gutter;
    }

    &-list {
      max-width: 80%;
      margin: auto;
    }
}


.cardEffect:hover {
  box-shadow: 0px 5px 5px -3px rgb(94 219 123 / 20%), 0px 8px 10px 1px rgb(94 219 123 / 14%), 0px 3px 14px 2px rgb(49 130 48 / 12%);
}

.cat {
  padding: 0.15em;
  margin-bottom: 0.2em;
  opacity: .7;
  border-radius: 15% 5%;

  &-1 {
    background-color: vars.$cat-deck;
  }

  &-2 {
    background-color: vars.$cat-coop;
  }

  &-3 {
    background-color: vars.$cat-cards;
  }

  &-4 {
    background-color: vars.$cat-mgt;
  }

  &-5 {
    background-color: vars.$cat-build;
  }

  &-6 {
    background-color: vars.$cat-strat;
  }

  &-7 {
    background-color: vars.$cat-narrative;
  }

  &-8 {
    background-color: vars.$cat-role;
  }

  &-9 {
    background-color: vars.$cat-bid;
  }

  &-10 {
    background-color: vars.$cat-duo;
  }

}