@use 'src/styles/vars';
@use 'sass:color';

.main-header {
    text-align: center;
    padding: vars.$gutter;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

    &-title {
        font-family: vars.$title-font;
        font-size: 5rem;
        transition: ease-in-out 0.5s;

        // &:hover {
        //     color: color.scale(vars.$title-color, $lightness: 15%);
        // }
    }
}

.menu {
    padding: vars.$gutter;

    &-link {
        padding: vars.$gutter;
        font-family: vars.$global-font;
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0 1rem;
        cursor: pointer;
        color: vars.$primary-color;

        &:hover {
            color: color.scale(vars.$primary-color, $lightness: 40%);
        }

        &--selected {
            color: color.scale(vars.$primary-color, $lightness: 60%);
        }
    }
}