@use 'src/styles/vars';
@use 'sass:color';

.main-header {
    text-align: center;
    padding: vars.$gutter;
    background-color: vars.$primary-color;

    &-title {
        color: vars.$alt-color;
        font-family: vars.$title-font;
        font-size: 5rem;
        transition: ease-in-out 0.5s;

        // &:hover {
        //     color: color.scale(vars.$title-color, $lightness: 15%);
        // }
    }
}

.menu {
    padding: vars.$gutter;

    &-link {
        padding: vars.$gutter;
        font-family: vars.$global-font;
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0 1rem;
        cursor: pointer;
        color: vars.$alt-color;

        &:hover {
            color: color.scale(vars.$alt-color, $lightness: -20%);
        }

        &--selected {
            color: color.scale(vars.$alt-color, $blackness: 50%);
        }
    }
}